<template>
  <div
    class="d-flex todo-card-actions bg-grey-lighten-3 align-center w-100 pr-3 py-3 mb-5"
  >
    <v-btn
      variant="tonal"
      rounded="xl"
      size="small"
      class="btn bg-primary pr-1 ml-auto text-none"
      :ripple="false"
    >
      Tasks
      <div class="num-div rounded-circle pt-1 text-none text-primary ml-2">
        {{ props.totalTasks }}
      </div>
    </v-btn>
    <v-btn
      variant="tonal"
      rounded="xl"
      size="small"
      class="btn bg-primary pr-1 text-none ml-2"
      :ripple="false"
      @click.prevent=""
    >
      Tasks Done
      <div class="num-div rounded-circle pt-1 text-none text-primary ml-2">
        {{ props.totalDoneTasks }}
      </div>
    </v-btn>
    <v-btn
      v-if="props.totalDoneTasks > 0"
      size="small"
      class="btn bg-error text-none ml-2"
      prepend-icon="mdi-delete"
      @click="emits('removeDoneTasks')"
    >
      Tasks Done
    </v-btn>
    <v-btn
      size="small"
      class="btn bg-error text-none ml-2"
      prepend-icon="mdi-delete"
      @click="emits('removeTasks')"
    >
      Tasks
    </v-btn>
  </div>
</template>
<script setup>
const emits = defineEmits(["removeDoneTasks", "removeTasks"]);
const props = defineProps({
  totalTasks: {
    type: Number,
    default: 0,
  },
  totalDoneTasks: {
    type: Number,
    default: 0,
  },
});
</script>
<style lang="scss" scoped>
.todo-card-actions {
  height: 60px;
}
.btn {
  .num-div {
    background-color: white;
    width: 20px;
    height: 20px;
    font-weight: 700;
  }
}
</style>
