<template>
  <v-card
    border="border-secondary"
    flat
    class="card mt-2 mx-auto d-flex align-center"
    prepend-icon="mdi-checkbox-marked-circle"
  >
    <template #prepend>
      <v-btn
        size="sm"
        variant="plain"
        class="m-0 p-0"
        :class="
          item.status.done
            ? 'text-grey-lighten-1'
            : 'text-decoration-none text-success'
        "
        icon="mdi-checkbox-marked-circle"
        @click.prevent="emits('setTaskDone')"
      >
      </v-btn>
    </template>
    <p
      class="font-weight-bold pl-0"
      :class="
        item.status.done
          ? 'text-decoration-line-through text-grey-lighten-1'
          : 'text-decoration-none text-grey-darken-3 '
      "
    >
      {{ item.name }}
    </p>
    <v-btn
      size="sm"
      variant="plain"
      class="trash-icon ml-auto mr-3 text-error"
      icon="mdi-delete"
      @click.prevent="emits('removeTaskItem')"
    >
    </v-btn>
  </v-card>
</template>
<script setup>
const emits = defineEmits(["setTaskDone", "removeTaskItem"]);
const props = defineProps({
  item: {
    type: Object,
    default: () => {},
  },
});
</script>
<style lang="scss" scoped>
.card {
  border-width: 1px;
  .trash-icon {
    display: none;
  }
  &:hover {
    .trash-icon {
      display: block;
    }
  }
}
:deep(.v-card-item__prepend) {
  padding: 0 !important;
}
</style>
