<template>
  <v-card class="d-flex flex-column card-div w-100">
    <TodoActionButtons
      :totalTasks="taskList.length"
      :totalDoneTasks="getTotalDoneTasks()"
      @removeDoneTasks="removeDoneTasks()"
      @removeTasks="removeTasks()"
    />
    <perfect-scrollbar>
      <div v-for="(item, index) in taskList" class="w-100 justify-center px-5">
        <TodoCard
          :item="item"
          class="w-100 todo-card"
          @setTaskDone="setTaskDone(index)"
          @removeTaskItem="removeTaskItem(item.id, index)"
        />
      </div>
    </perfect-scrollbar>
    <v-row class="align-end mt-5">
      <v-col>
        <div class="textfield-div bg-grey-lighten-3 pt-5">
          <v-text-field
            v-model="taskInput"
            label="New task"
            variant="outlined"
            class="px-5 pt-0 h-30 align-end textfield text-primary"
            rounded="xl"
            color="primary"
            @keyup.enter="addNewTask()"
          >
            <template v-slot:append-inner>
              <v-icon
                color="primary"
                icon="mdi-plus-circle"
                @click="addNewTask()"
              />
            </template>
          </v-text-field>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
<script setup>
import { ref, computed } from "vue";
import { useTodo } from "@/composables/useTodo.js";

const { tasks, addTask, setDoneStatus, removeTask, removeAllTasks } = useTodo();
const taskInput = ref("");

const taskList = computed(() => {
  return tasks.value;
});
const addNewTask = () => {
  let data = {
    id: Math.random().toString(16).slice(2),
    name: taskInput.value,
    status: {
      done: false,
    },
  };
  addTask(data);
  taskInput.value = "";
};
const setTaskDone = (index) => {
  setDoneStatus(index);
};
const getTotalDoneTasks = () => {
  let doneCounter = 0;

  tasks.value.forEach((task) => {
    if (task.status.done) {
      doneCounter++;
    }
  });
  return doneCounter;
};
const removeDoneTasks = () => {
  tasks.value.forEach((task, index) => {
    if (task.status.done) {
      removeTask(task.id, index);
    }
  });
};
const removeTaskItem = (taskId, index) => {
  removeTask(taskId, index);
};
const removeTasks = () => {
  removeAllTasks();
};
watch(tasks, (newTasks) => {
  localStorage.setItem("tasks", JSON.stringify(newTasks));
});
</script>
<style lang="scss" scoped>
.ps {
  height: 400px;
}
.card-div {
  box-shadow: none !important;
  max-height: 500px;
}
</style>
