<template>
  <v-container class="fill-height" fluid>
    <v-row class="flex-column justify-center text-center align-center">
      <v-col cols="16" sm="8" md="4">
        <div class="d-flex flex-column col-div">
          <h1>Vue ToDo List</h1>
          <TodoList class="todo-list mt-5" />
        </div>
        <v-banner
          lines="one"
          color="white"
          class="banner my-4 bg-blue-darken-4 rounded-pill"
        >
          <v-banner-text>
            This application users the browser's Local Storage to store data
          </v-banner-text>

          <template v-slot:actions>
            <v-btn
              size="sm"
              variant="plain"
              class="close-icon ml-auto pr-0 text-error"
              icon="mdi-close-circle-outline"
            >
            </v-btn>
          </template>
        </v-banner>
      </v-col>
    </v-row>
  </v-container>
</template>
<style lang="scss" scoped>
.banner {
  width: 700px;
}
.col-div {
  margin-top: 100px !important;
  width: 700px;
}
.todo-list {
  height: 500px;
  background-color: white;
}
.close-icon {
  width: 35px !important;
}
</style>
